/*-- scss:defaults --*/
/* useful resource on customizing Quarto sites */
/* https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide */

// Colors
/* LTER Network Office logo colors */
$a: #5A5C37;
$b: #209ACA;
$c: #97AE3F;
$x: #FFDF1D;
$y: #4AB2CB;
$z: #DA6641;
$w: #B89E92;
$p: #374228;

/* generally useful other colors */
$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $a; // navbar
$navbar-fg: $b; // navbar foreground elements
$navbar-hl: $c; // highlight color when on a page
$body-bg: $cream; // page background
$body-color: $black; // page text
$footer-bg: $x; // footer
$link-color: $y; // hyperlinks

// Inline code
$code-bg: $gray-0; // inline code background color
$code-color: $z; // inline code text color

// Code blocks
$code-block-bg: $w; // code block background color
